
body {
  font-family: 'Poppins', sans-serif;
  background: #121212;
  color: #fff;
  margin: 0;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

header h1 {
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.color-primary {
  color: #00cfff; 
}

.color-secondary {
  color: #00cfff; 
}




.summary {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 40px;
}

.summary div {
  background: #1f1f1f;
  padding: 20px 25px;
  border-radius: 15px;
  min-width: 140px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;
}

.summary div:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 25px rgba(196, 118, 111, 0.2);
  cursor: pointer;
  border-color: #8879;
}

.summary div span {
  display: block;
  font-size: 1.5rem;
  margin-top: 5px;
  color: #00ffe0;
  font-weight: 700;
}

/* Chart Container */
.chart-container {
  max-width: 900px;
  margin: auto;
  margin-bottom: 40px;
  background: #1f1f1f;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}


.chart-container canvas {
  margin-bottom: 30px;
}


.recent-workouts {
  max-width: 900px;
  margin: auto;
  background: #1f1f1f;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}

.recent-workouts h2 {
  color: #00ffe0;
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: center;
}

th {
  background: #292929;
  color: #00ffe0;
  font-weight: 600;
}

tr:nth-child(even) {
  background: #222;
}

tr:hover {
  background: #333;
  cursor: pointer;
}
